#login-buttons {
  margin: 18px;
}
#login-buttons a {
  font-size: 14px;
  color: #777;
  text-decoration: none;
}

.list-group-item {
  height: 55px;
}

.binid {
  padding: 8px;
}

.bins-share {
  margin: 10px;
}
